<web-app>

<context-param>
<param-name>oracletab</param-name>
<param-value>yes</param-value>
</context-param>

<context-param>
<param-name>contextconnect</param-name>
<param-value>no</param-value>
</context-param>

<context-param>
<param-name>poolconnect</param-name>
<param-value>yes</param-value>
</context-param>

<servlet>
<servlet-name>ApplicationInitializer</servlet-name>
<servlet-class>ApplicationInitializer</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>ApplicationInitializer</servlet-name>
<url-pattern>/table</url-pattern>
</servlet-mapping>
<listener>
<listener-class>MyContextListener</listener-class>
</listener>
<servlet>
<servlet-name>NetbankServlet</servlet-name>
<servlet-class>NetbankServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NetbankServlet</servlet-name>
<url-pattern>/bank</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Car1</servlet-name>
<servlet-class>Car1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Car1</servlet-name>
<url-pattern>/car1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HelperServlet</servlet-name>
<servlet-class>HelperServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HelperServlet</servlet-name>
<url-pattern>/helper</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CartServlet</servlet-name>
<servlet-class>CartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CartServlet</servlet-name>
<url-pattern>/cart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CartServlet1</servlet-name>
<servlet-class>CartServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CartServlet1</servlet-name>
<url-pattern>/cart1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegisteredServlet</servlet-name>
<servlet-class>RegisteredServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisteredServlet</servlet-name>
<url-pattern>/registered</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Watches1</servlet-name>
<servlet-class>Watches1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Watches1</servlet-name>
<url-pattern>/watches1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserExistServlet</servlet-name>
<servlet-class>UserExistServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserExistServlet</servlet-name>
<url-pattern>/userexist</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Mobile1</servlet-name>
<servlet-class>Mobile1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Mobile1</servlet-name>
<url-pattern>/mobile1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Laptop1</servlet-name>
<servlet-class>Laptop1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Laptop1</servlet-name>
<url-pattern>/laptop1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Men1</servlet-name>
<servlet-class>Men1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Men1</servlet-name>
<url-pattern>/men1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Women1</servlet-name>
<servlet-class>Women1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Women1</servlet-name>
<url-pattern>/women1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ForgotPassword</servlet-name>
<servlet-class>ForgotPassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ForgotPassword</servlet-name>
<url-pattern>/forgot</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Feedback</servlet-name>
<servlet-class>Feedback</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Feedback</servlet-name>
<url-pattern>/feedback</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Account</servlet-name>
<servlet-class>Account</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Account</servlet-name>
<url-pattern>/account</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ChangePass</servlet-name>
<servlet-class>ChangePass</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePass</servlet-name>
<url-pattern>/changepass</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateEmail</servlet-name>
<servlet-class>UpdateEmail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateEmail</servlet-name>
<url-pattern>/updateemail</url-pattern>
</servlet-mapping>


<filter>
<filter-name>LoginFilter</filter-name>
<filter-class>LoginFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>LoginFilter</filter-name>
<url-pattern>/login</url-pattern>
</filter-mapping>

<filter>
<filter-name>RegisterFilter</filter-name>
<filter-class>RegisterFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>RegisterFilter</filter-name>
<url-pattern>/register</url-pattern>
</filter-mapping>

</web-app>